{{title}}
{{"#" * title|length}}

:date: {{date}}
:tags: {{tags}}
:category: {{category}}
:slug: {{slug}}
:authors: {{author}}
{%- if status %}
:status: {{status}} {%- endif %}
:summary: {{summary}}

